@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.cards {
    width: 900px;
    height: 500px;
    display: flex;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.cards p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

.cards h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 36px;
    color: hsl(0, 0%, 95%);
}

.cards a {
    margin: 96px 48px 0px;
    padding: 16px 32px;
    background-color: white;
    position: absolute;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    border-radius: 30px;
    border-style: solid;
}

.cards a:hover {
    margin: 96px 48px 0px;
    padding: 16px 32px;
    background-color: transparent;
    color: white;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.sedans a {
    color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.suvs a {
    color: hsl(184, 100%, 22%);

}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.luxury a {
    color: hsl(179, 100%, 13%);

}

.description {
    padding: 14px 48px;
}

svg {
    padding: 48px 48px 14px;
}

@media (max-width: 375px) {
    .cards {
        display: block;
        width: 350px;
        margin: auto;
    }

    .responsive-card{
        height: 500px;
    }

    .responsive-card a{
        position: relative;
        top: 30px;
    }

}